<html>
	<head>
		<script src="jquery.js"></script>
		<script src="angular.js"></script>
		<script src="angular-ui_bootstrap.js"></script>
		<script src="bootstrap.min.js"></script>
		<link href="bootstrap.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div class="col-md-10 col-md-offset-1 well" id="container">

			<ul class="nav nav-tabs">
				<li><a href="index.html#home">Find a parish</a></li>
				<li><a href="index.html#about">About The Episcopal Church</a></li>
				<li><a href="index.html#help">Donate/...</a></li>
			</ul>

			<div class="col-md-6 main" ng-controller="test" ng-init="loadData()">

				<div id="accordions">
					<script type="text/ng-template">
						<div class="panel {{panelClass || 'panel-default}}">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">{{heading}}</a>
								</h4>
							</div>
							<div class="panel panel-collapse" uib-collapse="!isOpen">
								<div class="panel-body" ng-transclude></div>
							</div>
						</div>
					</script>
				</div>

				<uib-accordion>
					<uib-accordion-group heading="{{parish.name}}" ng-repeat="parish in parishes" is-open="$first">
						<p>Address: {{parish.address}} {{parish.city}} {{parish.zip}}</p>
						<p>Phone number: <a href="tel:{{parish.phone}}">{{parish.phone | phone}}</a></p>
						<p>Website: <a href="{{parish.website}}">{{parish.website}}</a></p>
					</uib-accordion-group>
				</uib-accordion>

				<script>
					$('uib-accordion :first').prop('isOpen', 'true');
				</script>

			</div>


			<div class="col-md-6 main" id="map">
				<p>I'm a map. But showing maps <em>too</em> much costs money.</p>
			</div>

		</div>
	</body>

	<script src="map.js"></script>
<!--	 Don't want to make Google Maps API calls just yet.
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiNAAnAVpK2gnb47fhGua4Qvutgm3947Y&callback=initMap" async defer></script>
-->
</html>