body {
	background-image: url('bgtile.png');
	font-family: Helvetica, sans-serif;
}

a {
	color: rgb(200, 20, 65);
}

a:hover {
	color: rgb(200, 20, 65);
}

a:visited {
	color: rgb(200, 10, 25);
}

form {
	width: 100%;
}

h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

ul {
	background-color: white !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

.hidden {
	display: none;
}

.main {
	background-color: white !important;
	padding: 20px;
}

#container {
	padding: 5px 0 0 0;
}

#dioceses {
	background: white;
	border: 1px solid gray;
	display: none;
	left: -15%;
	position: absolute;
	top: -1%;
	z-index: 10;
}

#map {
	height: 100%;
}

.inline {
	display: inline !important;
	width: 3em;
}

#eventPop {
	background-color: #ddd;
	padding: 2%;
}