body {
	background-image: url('bgtile.png');
	font-family: Helvetica, sans-serif;
}

a {
	color: rgb(200, 20, 65);
}

.inactive {
	display: none;
}

.main {
	background-color: white !important;
}

#dioceses {
	background: white;
	border: 1px solid gray;
	display: none;
	left: -15%;
	position: absolute;
	top: -1%;
	z-index: 10;
}
