body {
	background-image: url('bgtile.png');
	font-family: Helvetica, sans-serif;
}

a {
	color: rgb(200, 20, 65);
}

a:visited {
	color: rgb(200, 10, 25);
}

form {
	width: 100%;
}

ul {
	background-color: white !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

.hidden {
	display: none;
}

.main {
	background-color: white !important;
	border-left: 2px solid gray;
}

#dioceses {
	background: white;
	border: 1px solid gray;
	display: none;
	left: -15%;
	position: absolute;
	top: -1%;
	z-index: 10;
}


